body {
    margin: 0;
}

#main {
    display: flex;
    margin: 0;
}

#nav {

    display: flex;
    flex-basis: 220px;
    height: 100vh;
    background-color: #26325B;
    flex-direction: column;
    align-items: center;
}

#content {
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: column;

    margin-top: 114px;
    margin-left: 150px;
}

.contentpic {
    justify-content: center;
    align-items: center;
}

img {
    justify-content: center;
    align-items: center;
}

.navtext {
    font-family: 'Montserrat', sans-serif;

    margin-left: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    /* min-height: 100px; */
}

h1 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 132px;
}