html,
body {
    margin: 0;

}

=========
/* landing page - min */

#landing {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: pink;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("img/landingimg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); */

}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 96px;
    color: #E67571;
}

.subhead {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: white;

}



=============
#main {
    display: flex;
    margin: 0;
}

#nav {

    display: flex;
    height: 100%;
    flex-basis: 200px;
    min-width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #E79A74;
    flex-direction: column;

}

#icon-content {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    margin-left: 260px;
    width: 950px;
    align-items: center;

}

.contentpic {
    justify-content: center;
    align-items: center;
}

img {
    justify-content: center;
    align-items: center;
}

.navtext {
    font-family: 'Montserrat', sans-serif;

    margin-left: 10px;
    /* margin-top: 100px; */
    margin-bottom: 100px;
    color: white;
    /* min-height: 100px; */
}

#nav-typo {
    display: flex;
    height: 100%;
    flex-basis: 200px;
    min-width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #E79A74;
    flex-direction: column;

}

#typo-content {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    margin-left: 260px;
}

#arrowdiv {
    display: flex;
    flex-direction: column;
    width: 7px;
    height: 7px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#montserrat,
#din {
    margin: 0 0 50px 0
}

p {
    font-size: 20px;
    text-align: center;
}

#imgbox {
    display: flex;
    flex-direction: row;
    border: 1px solid #E79A74;
    width: 1010px;
}

#imgbox img {
    padding: 30px;
    opacity: 1;
    transition: 0.3s;
}

#imgbox img:hover {

    opacity: 0.5;
}

==============
/* min icon */

.header {
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    margin-top: 100px;
}

==============
/*sofa- logo arrangement*/
.photos {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 600px; */
    justify-content: space-around;
    
    
}

.logos {
    padding: 20px;
    width: 110px; 
}

#logobig {
    width: 300px;
}

#logsmall {
    width: 50px;
}

figure {
    display: flex;
    align-items: center;
    padding: 20px;
}

figcaption {
    padding: 15px;
    text-align: center;
}

.logo-timeline {
    padding: 20px;
    display: flex;
}

.logo-timeline > img {
    width: 150px;
    height: 200px;
    padding: 10px;
}

#arrow {
    width: 100px;
    height: 50px;
    padding: 0px;
}

hr {
    color: #111;
    border: solid 1px;
    width: 600px;
}