body {
    margin: 0;
}

#main {
    display: flex;
    margin: 0;
}

#nav {

    display: flex;
    flex-basis: 200px;
    height: 100vh;
    background-color: #26325B;
    flex-direction: column;
    justify-content: space-between;


}

#content {
    flex: 1;
}

.navtext {
    font-family: 'Montserrat', sans-serif;

    margin-left: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    /* min-height: 100px; */
}