html,
body {
    margin: 0;

}

/* landing page - min */

#landing {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: pink;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("img/landingimg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); */

}

.navtext a:link {
    color: white;
    text-decoration: none;
}

.navtext a:visited {
    color: white;
    text-decoration: none;
}


a:link {
    color: #26325B;
    text-decoration: none;
}

a:visited {
    color: #26325B;
    text-decoration: none;
}

.groupname {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: black;
    
}

button {
    width: 200px;
    height: 50px;
    
    background-color:  #E79A74;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

}

#buttons {
    color: white;
}

/* landing page end -min */
#main {
    display: flex;
    margin: 0;
}

#nav {

    display: flex;
    height: 100%;
    flex-basis: 200px;
    min-width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #E67571;
    flex-direction: column;

}

#icon-content {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    margin-left: 400px;

}

#content {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    margin-left: 260px;
    align-items: center;
}

.contentpic {
    justify-content: center;
    align-items: center;
}

img {
    justify-content: center;
    align-items: center;
}

.navtext {
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
    margin-bottom: 100px;
    color: white;
    /* min-height: 100px; */
}


.navpic {
    margin-left: 10px;

}


/* Juhee css*/

#nav-typo {
    display: flex;
    height: 100%;
    flex-basis: 200px;
    min-width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #E79A74;
    flex-direction: column;

}

#typo-content {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;

    margin-left: 400px;
}

#arrowdiv {
    display: flex;
    flex-direction: column;
    width: 7px;
    height: 7px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#montserrat {
    margin: 0 0 50px 0
}

/* here help me */
#din {
    margin-bottom: 100px;
}

h2 {

    margin-top: 120px;
    margin-bottom: 63px;

}

#p {
    font-size: 20px;

}

#imgbox {
    display: flex;
    flex-direction: row;
    border: 1px solid #E79A74;
    width: 1010px;
}

#imgbox img {
    padding: 30px;
    opacity: 1;
    transition: 0.3s;
}

#imgbox img:hover {

    opacity: 0.5;
}

/* min icon */

.header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    justify-content: space-around;
}

.icons {
    padding: 100px;
    height: 200px;
    width: 150px;
}

.icons:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 5px rgb(226, 226, 226);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    height: 250px;
    width: 150px;
}

/* min polaroid imagery */

.box {
    display: flex;
    flex-wrap: wrap;
    margin-left: 400px;
    max-width: 1100px;
    justify-content: center;
    text-align: center;

}

.cards {
    box-shadow: 5px 5px 5px rgb(226, 226, 226);
}

.boximg {
    width: 257px;
    height: 293px;
    padding: 30px;
    opacity: 1;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.boximg:hover {
    width: 300px;
    height: 350px;
}

.hashtag {
    font-family: 'Shadows Into Light', cursive;
    transform: rotate(-15deg);
    font-size: 28px;
}

#space {
    height: 100px;
    width: 200px;
}